@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --altezza-notifica: 1000px;
}

.notifica {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    animation-name: notifica---appari;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 95;
    font-size: 16px;
}


.box-notifica {
    /* uso una larghezza massima del 100% della finestra ma facciamo anche che se si supera i 600px non si puó andare oltre, creando una finestra responsiva */
    width: 100%;
    max-width: 600px;
    height: fit-content;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); 
    font-size: 1em;
    font-family: "Noto-Sans", sans-serif;
    font-optical-sizing: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25em;
    overflow: hidden;
    z-index: 96;
    opacity: 0;
    bottom: 50px;
    transform: translateX(100vw);
    animation-name: box-notifica---appari;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.50, -0.55, 0.265, 1.75);
}

.notifica-ignora {
    animation-name: box-notifica---appari, box-notifica---ignora;
    animation-duration: 0s, 0.45s;
    animation-fill-mode: forwards, forwards;
    animation-delay: 0, 0;
    animation-timing-function: cubic-bezier(0.50, -0.55, 0.265, 1.75), cubic-bezier(0.50, -0.25, 0.75, 0.50);
}

.info-notifica {
    background-color: rgba(77, 5, 123, 0.72);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 5px 7px rgba(152, 200, 238, 0.46);
}
.errore-notifica {
    background-color: rgba(85, 0, 26, 0.72);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 5px 7px rgba(255, 0, 0, 0.46);
}

.attenzione-notifica {
    background-color: rgba(255, 162, 0, 0.85);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 5px 7px rgb(255, 242, 0);
}

.successo-notifica {
    background-color: rgba(0, 111, 37, 0.72);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 5px 7px rgba(152, 238, 158, 0.46);
}

.special-notifica, .special-errore-notifica, .special-attenzione-notifica, .special-successo-notifica {
    background-color: rgba(18, 0, 36, 0.85);
    border: 5px solid transparent;
}

.special-notifica::before, .special-errore-notifica::before, .special-attenzione-notifica::before, .special-successo-notifica::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.15em;
    border-radius: 10px;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

@property --startColor-normal {
    syntax: "<color>";
    initial-value: rgb(152, 200, 238);
    inherits: false;
}

@property --endColor-normal {
    syntax: "<color>";
    initial-value: rgb(77, 5, 123);
    inherits: false;
}

@property --position {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes ---notification-gradient {
    0% {
        --startColor-normal: var(--color1);
        --endColor-normal: var(--color2);
        --position: -360deg;
    }
    25% {
        --position: -180deg;
    }
    50% {
        --startColor-normal: var(--color2);
        --endColor-normal: var(--color1);
        --position: 0deg;
    }
    75% {
        --position: +180deg;
    }
    100% {
        --startColor-normal: var(--color1);
        --endColor-normal: var(--color2);
        --position: 360deg;
    }
}
.special-notifica::before {
    --color1: rgb(152, 200, 238);
    --color2: rgb(77, 5, 123);
    background-image:
        conic-gradient(from var(--position), transparent 0%, var(--startColor-normal) 45%, transparent 65%),
        linear-gradient(313deg, var(--startColor-normal), var(--endColor-normal));
        background-blend-mode: overlay;
    animation: ---notification-gradient 3s linear infinite;
}

.special-errore-notifica::before {
    --color1: rgb(255, 0, 0);
    --color2: rgb(77, 5, 123);
    background-image:
        conic-gradient(from var(--position), transparent 0%, var(--startColor-normal) 45%, transparent 65%),
        linear-gradient(313deg, var(--startColor-normal), var(--endColor-normal));
        background-blend-mode: overlay;
    animation: ---notification-gradient 3s linear infinite;
}

.special-notifica::before {
    --color1: rgb(255, 200, 0);
    --color2: rgb(77, 5, 123);
    background-image:
        conic-gradient(from var(--position), transparent 0%, var(--startColor-normal) 45%, transparent 65%),
        linear-gradient(313deg, var(--startColor-normal), var(--endColor-normal));
        background-blend-mode: overlay;
    animation: ---notification-gradient 3s linear infinite;
}

.special-successo-notifica::before {
    --color1: rgb(152, 238, 158);
    --color2: rgb(77, 5, 123);
    background-image:
        conic-gradient(from var(--position), transparent 0%, var(--startColor-normal) 45%, transparent 65%),
        linear-gradient(313deg, var(--startColor-normal), var(--endColor-normal));
        background-blend-mode: overlay;
    animation: ---notification-gradient 3s linear infinite;
}

.contenuto-notifica {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 1.25em;
    color: white;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    z-index: 96;
    display: flex;
}

.contenuto-notifica::before {
    content: "";
    inset: 0;
    position: relative;
    overflow: "hidden";
    width: 30px;
    height: 100%;
    padding: 0 0.25em;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url(../assets/svg-images/overlay-menu/stato-leave.svg);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.3em;
    line-height: 1.8em;
    z-index: 93;	
}

.contenuto-notifica p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: 1em;
    user-select: none;
    color: white;
    opacity: 0.8;
}



.ignora-notifica {
    position: relative;
    padding: 1.25em;
    margin-right: 0.75em;
    right: 2px;
    line-height: 1.8em;
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    transform-origin: center;
    color: #ffffff;
    opacity: 0.5;
    transition: 0.15s ease;
    z-index: 97;
    pointer-events: auto;
}

.ignora-notifica:hover {
    transform: scale(3);
    cursor: pointer;
    pointer-events: auto;
}

@keyframes notifica---appari {
    from { opacity: 0}
    to {opacity: 1}
}

@keyframes box-notifica---ignora {
    from { 
        height: var(--altezza-notifica);
        opacity: 1;
        transform: translateX(0px);
        margin-top: 0.25em;
    }
    to { 
        opacity: 0; 
        transform: translateX(-100vw);
        height: 0;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8), inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
        margin-top: 0;
    }
}

@keyframes box-notifica---appari {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}